<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body id="courseApp">
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goal">
      <h2>My Course Goal</h2>
      <p>{{outputGoal()}}</p>
      <p><a v-bind:href="VueLink" target="_blank">Learn More</a></p>
    </section>
    <section id="events">
      <h2>Events in Action</h2>
      <button @click="addEvent(5)">Add 5</button>
      <button @click="removeEvent(5)">Reduce 5</button>
      <!-- starting counter values only be evaluated once hence v-once -->
      <p v-once>Starting Counter: {{counter}}</p>
      <p>Result: {{counter}}</p>
      <!-- <input
        type="text" v-bind:value="name"
        v-on:input="setName($event)"
        v-on:keyup.enter="confirmedNameOnEnter"
      /> -->
      <!-- v-model is the shortcut for v-bind:value & v-on:input -->
      <input type="name" v-model="name" />
      <button @click="resetInput()">Reset Input</button>
      <!-- computed properties -->
      <p>Your Full Name: {{ Fullname }}</p>
      <!-- prevent fron reloading page after click on submit & refresh data -->
      <form @submit.prevent="submitForm()">
        <input type="text" />
        <button>Sign Up</button>
      </form>
    </section>
    <header>
      <h1>Vue Dynamic Styling</h1>
    </header>
    <section id="styling">
      <div class="demo"
        :class="{active: boxASelected}"
        :style="{borderColor : boxASelected ? 'red': '#ccc'}"
        @click="boxSelected('A')">
      </div>
      <div class="demo" :class="{active: boxBSelected}" @click="boxSelected('B')"></div>
      <div class="demo" :class="{active: boxCSelected}" @click="boxSelected('C')"></div>
    </section>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValues"/>
      <button @click="addGoals()">Add Goal</button>
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <!-- add a key value with unique identification mark :key="goal" than index which helps vue identifications apart -->
      <ul v-if="goals.length > 0" v-for="(goal, index) in goals" :key="goal" @click="removeGoals(index)">
        <li>{{goal}} - {{index}}</li>
      </ul>
    </section>
  </body>
</html>
